<h2>Create a new Twit</h2>

<form action='/twits' method="user" accept-charset="utf-8" id='new-twit'>
  <label for='body'>Message</label>
  <input type='text' name='message' id='message'/>

  <input type='submit' name='commit' id='create_message'  />
</form>
